{% extends "home.html" %}
{% load static %}
{% block title %} Search {% endblock %}
{% block content %}

<div class="container-sm" style="width: 52.5rem;">
  <div class="shadow p-2 mb-5 bg-dark rounded">
    <div class="card" style="border:3px ; width: 50rem;" >
      <div align="center">
        <div class="card-body">
          <form action="search" method="get">
            <div>
              <label for="keyword"><h5>&nbsp;Keyword :</h5></label>
              <input type="text" id="keyword" name="keyword"><br><br>

              <label for="genres"><h5>genre :</h5></label>
              <select name="genres" id="genres">
              {% for g in genre %}
                <option value="{{g}}">{{g}}</option>
              {% endfor %}
              </select>
            </div><br>
            <button type="submit" class="btn btn-primary">SEARCH</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
