{% extends "home.html" %}
{% load static %}
{% block title %} Search {% endblock %}
{% block content %}
    <meta charset="UTF-8">
    <title>registartion</title>
    <h3>Register</h3>
    {% if error %}
    <p>{{error}}</p>
    {% endif %}
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form action="{% url 'register' %}" method="post">
    {% csrf_token %}
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Sign Up</button>
  </div>
</form>
</body>

{% endblock %}}